@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: 'Muli', sans-serif;
  background: rgb(6, 2, 42);
  overflow: hidden;
}

.container {
  display: flex;
  gap: 20px;
  width: 100%;
  padding: 0 20px;
}

.slide {
  position: relative;
  flex-basis: 20%;
  height: 80vh;
  color: #fff;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.slide.active {
  flex-basis: 100%;
}

.slide-1 {
  background-image: url('https://images.unsplash.com/photo-1617434108848-6a1e827124ef?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80');
}
.slide-2 {
  background-image: url('https://images.unsplash.com/photo-1570280406792-bf58b7c59247?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1162&q=80');
}
.slide-3 {
  background-image: url('https://images.unsplash.com/photo-1552519507-da3b142c6e3d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
}
.slide-4 {
  background-image: url('https://images.unsplash.com/photo-1618486613525-c694bf152b2c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
}
.slide-5 {
  background-image: url('https://images.unsplash.com/photo-1617788138017-80ad40651399?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
}

.slide h3 {
  position: absolute;
  left: 20px;
  bottom: 20px;
  margin: 0;
  font-size: 24px;
  opacity: 0;
  /* text-shadow: 1px 1px 3px #ccc; */
}

.slide.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}
